################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/tl-manager/obj
/tl-manager/bin/Debug/netcoreapp3.1
